.hr{  width:100%;
}
.dash_left{
  margin-right: 100px;
}
.line_height{
  line-height: 5px;
}
.men_img{
  border-radius: 50%;
}
.order_color{
  background-color:#17A2B8;
  border-radius: 7px;
}
.bag_color{
  color: #148A9D;
  /* font-weight:20px; */
  font-size:70px;
}
.transparent1{
  background-color :rgba(20, 138, 157,0.7);
}
.bounce_color{
  background-color: #28A745;
  border-radius:7px;
}
.chart_color{
  color:rgb(36, 149, 62);
  font-size:70px;
}
.transparent2{
  background-color :rgba(36, 149, 62,0.7);
}
.user_color{
  background-color: #FFC107;
  border-radius:7px;
}
.reg_color{
  color:#D9A406;
  font-size:70px;
}
.transparent3{
  background-color :rgba(217, 164, 6,0.7);
}
.unique_color{
  background-color:#DC3545;
  border-radius:7px;
}
.pie_color{
  color:#BB2D3B;
  font-size:70px;
}
.transparent4{
  background-color:rgba(187,45,59,0.7);
}
