.main_menu ul li {
    list-style: none;
    text-decoration: none;
} 

.btn_dashboard{
    background-color:#17A3B8;
    border: none;
    color: white;
    font-size: 19px;
    border: none;
}
.btn_dashboard button{
    border: none;
}

/* .btn_dashboard:hover{
    background-color: #0e7989;
} */
.dropdown{
    background-color: #17A3B8;
    border: none;
    color: white;
}
.dropdown button{
    color: white !important;
}
.dropdown button{
    border: none;
}

/* .dropdown:hover{
    background-color:#0e7989;
} */
.logout_btn{
    color: white ;
    border: none;
    background-color: #17A3B8;
    margin-left: 1000px;
    /* padding: 10px; */
    border-radius: 10%;
    padding: 10px;
}
.logout_btn:hover{
    background-color:#166a77;


}
